:root {
  --card-padding: 18px 15px;
  --card-margin: 0 0 20px 0;
  --card-background-color: var(--my-c-white);
  --card-border-radius: var(--my-border-radius-sm);
  --card-shadow: 0 0 23px 0 #e6e6e6;
}

html[data-theme='dark'] {
  --card-background-color: var(--my-c-black-mute);
  --card-shadow: 0 0 23px 0 #292929;
}

.my-card {
  padding: var(--card-padding);
  margin: var(--card-margin);
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  overflow: hidden;
}
